
Jarvis/Jarvis/token.txt
Jarvis/Jarvis/Jarvis/bin
Jarvis/Jarvis/Jarvis/obj/Debug
Jarvis/Jarvis/Jarvis/obj/Release
Jarvis/.vs/Jarvis
Jarvis/Jarvis/bin/Debug
Jarvis/Jarvis/obj/Debug
Jarvis/Jarvis/log.txt
Jarvis/Jarvis/errors.txt
*.txt
*.cache